body {
    background:black;
}
#scientist-div{
display:flex;
flex-direction: column;
align-items:center;
}

#scientist {
    width:400px;
    margin-left:100px
}

#science-text {
    width:1000px;
}

#directions{
    color:white;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#start-button{
    width:150px;
    padding:20px;
    margin:50px;
    border-radius: 25%;
    font-size: 20px;
    background-color: #15C62D;
    
}

#science-text2 {
    width:500px;
    position: absolute;
}

#canvas-div{ 
    display:flex;
    justify-content: center;
}

#canvas {
    padding-top:50px;
    border-bottom:3px solid black;
}

#beaker-div {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.beakerClass{
    width:100px;
    height:100px;
    margin-left:-300px;
    margin-top:50px;
}
.hideBeaker{
    display:none;
}

#canvas{
    display:flex;
    justify-content: center;
    margin:0 auto;
    background-color:black;
    
}

#game-over-div{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    
}

#game-over-div h1{
    font-size: 50px;
    color:white;
    
}

#restart-button{
    width:150px;
    padding:20px;
    margin:50px;
    border-radius: 25%;
    font-size: 20px;
    background-color: #15C62D;
    margin-left:135px;
}



.blinking{
    animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
    0%{     color: #white;    }
    49%{    color: #3333E5; }
    60%{    color: #F93A3A; }
    99%{    color: #902E93;  }
    100%{   color: #407F40;    }
}

@media (max-width:600px){
    body{
        width:500px;
    }
}