body {
    background-color:black;
}
#scientist-div{
display:flex;
flex-direction: column;
align-items:center;
}

#scientist {
    width:400px;
    margin-left:100px
}

#science-text {
    width:1000px;
}

#start-button{
    width:150px;
    padding:20px;
    margin:50px;
    border-radius: 25%;
    font-size: 20px;
    background-color: #15C62D;
    
}
#canvas-div{
    width:1000px;
    display:flex;
    justify-content: space-around;
   

}
#beaker-div {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.beakerClass{
    width:200px;
    height:200px;
    margin-left:-80px;
    margin-top:50px;
}

#canvas{
    display:flex;
    justify-content: center;
    margin:0 auto;
    background-color:black;
    
}

